.auth-popup{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100% ;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.auth-popup-content{
  height: 500px;
  width: 900px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  
}
.company-logo{
  width: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: brown;
  grid-template-columns: 1fr;

}
.company-logo-img{
  width: 100%;
}
.user-input{

  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px;
}
.first-name,
.last-name,
.password-txt,
.email-txt{
  height: 36px;
  margin: 8px;
  padding: 5px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid gray;
}
.log-in-btn{
  background-color: rgb(247, 247, 80);
  border: none;
  margin: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  display: block;
  transition: opacity 0.15s;
}
label{
  font-size: 20px;
  margin: 8px;
  display: block;
}
.create-acc{
  margin: 30px 0px 10px 8px;
  text-decoration: none;
}
span:hover{
  text-decoration: underline;
}
.close-btn{
  height: 40px;
  width: 48px;
  background: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  transform: translate(120vh, -2vh);
  justify-content: center;
}
.log-in-btn:hover,
.close-btn:hover{
  opacity: 0.8;
}
.close-icon{
  height: 35px;
  width: 36px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.sign-up{
  display: none;
}