.header{
  height: 130px;
  display: flex;
  background-color: rgb(247, 247, 146);
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.mid-sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img{
  height: 75px;
  margin-top: 20px;
}
.logout-btn,
.profile-btn{
  height: 36px;
  width: 38px;
  border-radius: 35px;
  background: none;
  border: none;
  margin-left: 8vh;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.logout-btn:hover,
.profile-btn:hover{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.logout-icon,
.profile-icon{
  height: 26px;
  padding-right: 200px;
}
a{
  border-radius: 5px;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  padding: 8px;
  margin-left: 8vh;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.15s, box-shadow 0.15s, border 0.15s;
}
a:hover{
  background-color: rgb(233, 222, 222);
  box-shadow: none;
  border: none;
}
a:active{
  opacity: 0.7;
}