
.mid-header{
  height: 130px;
  display: flex;
  background-color: rgb(247, 247, 146);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.Logout-btn{
  margin-right: 100px;
  height: 36px;
  background-color: rgb(98, 98, 235);
  color: white;
  border: none;
  width: 80px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}
.Logout-btn:hover{
  opacity: 0.7;
}
.logo-img{
  height: 75px;
  margin-top: 20px;
}
